@font-face {
	font-family: 'Baloo 2';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
		 url('@/assets/fonts/baloo-2-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('@/assets/fonts/baloo-2-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, .v-snackbar__content, [class*='text-']{
	font-family: 'Baloo 2', sans-serif !important;
}

html{
	scroll-behavior: smooth;
}

.v-btn {
	text-transform: lowercase !important;
}

.fab-fix:focus::before {
	 opacity: 0 !important;
}

#flightbox {
	background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
}

.mono-numbers{
	font-feature-settings: 'tnum' 1;
	font-feature-settings: "tnum";
	font-family: 'Baloo 2', monospace !important;
}

@media only screen and (max-width: 600px) {
	#flightbox{
		background-size:cover;
	}
	}
	
@media only screen and (min-width: 600px) {
	#flightbox{
		background-size:contain;
	}
}


.cl{
	cursor: pointer;
}

/* Set text as unselectable*/
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.small-text{
	font-size: 0.65rem!important;
}

/* ANIMATIONS */
.flash-animation {
	animation: flash 2.5s linear infinite;
}

@keyframes flash {
	50% {
		opacity: .45;
	}
}

.pulse-animation {
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	from { transform: scale(1); }
	50% { transform: scale(1.3); }
	to { transform: scale(1); }
}


